---
import { Icon } from "astro-icon/components";
---

<section class="min-h-screen snap-start">
  <div class="title retro-font justify-self-center text-center text-5xl text-[#ff9ef0] pt-16">ABOUT ME</div>
  <div class="win95-block w-[90%] max-w-[1200px] pb-4">
    <div class="win95-title flex items-center content-between min-h-6">
      <button class="win95-button ml-auto retro-font min-w-6 min-h-5 cursor-pointer inline-flex items-center content-center">x</button>
    </div>
    <div class="flex items-center justify-center flex-wrap gap-5">
      <div class="polaroid-outer pt-5 mr-7 ml-3 mt-3 pb-4 justify-self-center w-[100%] max-w-[350px]">
        <div class="polaroid-inner justify-self-center w-[90%] overflow-hidden">
          <img src="/profile-pic.jpg" alt="Profile Picture" class="w-[100%] h-auto block" />
        </div>
        <p class="justify-self-center retro-font mt-6 border-b-4 border-dashed border-black">
          Emmanuela Zhupa
        </p>
        <div class="flex mt-6 mx-2 justify-center">
          <a
            href="https://github.com/erelaa"
            class="social-btn mr-5"
            target="_blank"
          >
            <Icon
              name="github"
              size={50}
              class="justify-self-center relative top-3"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/emmanuela-zhupa-3ab688210/"
            class="social-btn mr-5"
            target="_blank"
          >
            <Icon
              name="linkedin"
              size={45}
              class="justify-self-center relative top-3"
            />
          </a>
          <a
            href="mailto:em.zhupa@gmail.com"
            class="social-btn mr-5"
            target="_blank"
          >
            <Icon
              name="mail"
              size={50}
              class="justify-self-center relative top-3"
            />
          </a>
          <a href="tel:+4915788644558" class="social-btn" target="_blank">
            <Icon
              name="phone"
              size={45}
              class="justify-self-center relative top-3"
            />
          </a>
        </div>
      </div>

      <div class="aboutme-description retro-font flex-1 md:min-w-[500px] max-w-[700px] min-w-fit text-xs md:text-base">
        </br>Hi, I'm Emma!</br></br>
        I recently graduated with a Bachelor's in Business Informatics
        and will be starting my Master's this April.</br></br>
        A bit about my journey: Growing up, I loved watching my dad work on his computer. 
        You could say I was very familiar with computers since I was little.</br></br>
        Fast forward to today, and I’ve got a toolkit filled with experiences from 
        university projects, personal side hustles, and working student jobs.</br>
        These experiences have honed my skills in both tech and business, allowing 
        me to tackle a wide range of challenges.</br></br>
        Feel free to explore more about my skills and projects and let’s connect!
      </div>
    </div>
  </div>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
    .retro-font {
      font-family: "Press Start 2P", serif;
    }

    .title{
      text-shadow: 0.08em 0.08em #111fe4;
    }

    .win95-block {
      background: #c0c0c0;
      border: 2px solid;
      border-bottom-color: #404040;
      border-right-color: #404040;
      border-left-color: #fff;
      border-top-color: #fff;
      box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
      margin: 16px auto;
    }

    .win95-title {
      background: linear-gradient(90deg, #55085f, #c07baf);
      padding: 3px 2px 3px 3px;
    }

    .win95-button {
      background: #c0c0c0;
      border: 2px solid;
      border-top-color: #fff;
      border-left-color: #fff;
      border-bottom-color: #404040;
      border-right-color: #404040;
      padding: 2px 6px;
      font-size: clamp(10px, 2.5vw, 12px);
    }

    .polaroid-outer {
      background-color: #fff;
      margin: 0 auto;
    }

    .polaroid-inner {
      max-height: 300px;
      margin: 0 auto;
    }

    .social-btn {
      width: 70px;
      height: 70px;
      background-color: #e2aee2;
      align-items: center;
      justify-content: center;
      clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      );
    }

    .social-btn:hover {
      color: rgb(245, 229, 241);
    }
  </style>
</section>
