---
import Television from "./Television.astro";
---

<section class="projects -z-10">
  <div class="title retro-font text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-[#ff9ef0] pt-16 text-center">
    PERSONAL PROJECTS
  </div>
  <Television />
</section>

<style>
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.projects {
  min-height: 100vh;
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.retro-font {
  font-family: "Press Start 2P", serif;
}

.title {
  text-shadow: 0.08em 0.08em #111fe4;
    }
</style>
